<div class="bg-color-element-bg lg:shadow"
     data-wp-interactive="header"
     data-wp-context='{"isOpen":false}'>
    <div class="container flex flex-col 
    lg:flex-row lg:justify-between">
        <div class="flex items-center justify-between py-2 
lg:py-0 lg:self-center">
            <a href="/">
                <img src="https://placehold.co/200x40" alt="logo">
            </a>

            {# extra wrapper as Interactivity API doesn't support svg element yet #}
            <div data-wp-bind--hidden="context.isOpen" data-wp-on--click="actions.toggle">
                <svg class="h-5 w-7 fill-color-heading-text
                lg:hidden" viewBox="0 0 27 19"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.375 18.25H26.625V15.3333H0.375V18.25ZM0.375 10.9583H26.625V8.04167H0.375V10.9583ZM0.375 0.75V3.66667H26.625V0.75H0.375Z"></path>
                </svg>
            </div>

            <div data-wp-bind--hidden="!context.isOpen" data-wp-on--click="actions.toggle">
                <svg class="h-5 w-7 fill-color-heading-text 
                lg:hidden" viewBox="0 0 26 19"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 18.25H18.9583V15.3333H0V18.25ZM0 10.9583H14.5833V8.04167H0V10.9583ZM0 0.75V3.66667H18.9583V0.75H0ZM26.25 14.7354L21.0292 9.5L26.25 4.26458L24.1938 2.20833L16.9021 9.5L24.1938 16.7917L26.25 14.7354Z"></path>
                </svg>
            </div>
        </div>

        <div class="shadow h-1 -mx-4 z-20 lg:hidden"></div>

        {% if items.value %}
            <div class="flex overflow-y-hidden transition-all 
absolute left-0 right-0 top-full bg-color-element-bg z-10 
lg:relative lg:left-auto lg:right-auto lg:top-auto lg:max-h-full lg:overflow-y-visible"
                 data-wp-class--max-h-0="!context.isOpen"
                 data-wp-class--max-h-screen="context.isOpen">
                <ul class="flex flex-col h-screen w-screen mt-3 
lg:flex-row lg:h-auto lg:w-auto lg:mt-0">

                    {% for menu_item in items.value %}
                        <li class="group relative flex flex-col justify-center border-r-2 border-color-page-bg 
hover:bg-middle 
last:border-r-0">

                            <a target="{{ menu_item.target }}"
                               class="flex items-center gap-2 text-color-action font-secondary font-semibold p-3 transition-colors 
                               lg:p-5 
                               group-hover:bg-color-page-bg
{% if menu_item.isActive or menu_item.isChildActive %} bg-color-page-bg{% endif %}
{% if menu_item.children is empty %} link after:border-b-4{% endif %}"
                               href="{{ menu_item.value }}">
                                <span>{{ menu_item.linkLabel|default(menu_item.title) }}</span>
                                {% if menu_item.children %}
                                    <svg class="w-2.5 h-2.5 fill-color-action transition-transform -rotate-180 
                                    lg:rotate-0 
lg:group-hover:-rotate-180" viewBox="0 0 8 7" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.57513 5.90565L0.176195 2.50671C-0.0587311 2.27178 -0.0587311 1.8919 0.176195 1.65948L0.741019 1.09465C0.975945 0.859725 1.35583 0.859725 1.58825 1.09465L3.9975 3.5039L6.40675 1.09465C6.64167 0.859725 7.02156 0.859725 7.25398 1.09465L7.82381 1.65698C8.05873 1.8919 8.05873 2.27178 7.8238 2.50421L4.42487 5.90315C4.18994 6.14057 3.81006 6.14058 3.57513 5.90565Z"></path>
                                    </svg>
                                {% endif %}
                            </a>

                            {% if menu_item.children %}
                                <ul class="flex flex-col gap-4 px-7 py-3 bg-color-element-bg min-w-full 
                                lg:px-5 lg:py-5 lg:rounded-lg lg:opacity-0 lg:pointer-events-none lg:absolute lg:top-full lg:-z-10 
 lg:group-hover:opacity-100 lg:group-hover:pointer-events-auto lg:group-hover:z-10">

                                    {% for sub_menu_item in menu_item.children %}
                                        <li>
                                            <a target="{{ sub_menu_item.target }}"
                                               class="link text-color-action font-semibold whitespace-nowrap pb-1
{% if sub_menu_item.isActive %} after:scale-x-100{% endif %}"
                                               href="{{ sub_menu_item.value }}">
                                                <span>{{ sub_menu_item.linkLabel|default(sub_menu_item.title) }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            {% endif %}

                        </li>
                    {% endfor %}

                </ul>
            </div>
        {% endif %}
    </div>
</div>
