<div>

	{% if items.value %}
		<ul>
			
			{% for menu_item in items.value %}
				<li class="{% if menu_item.isActive or menu_item.isChildActive %} {% endif %}">

					<a target="{{ menu_item.target }}" href="{{ menu_item.value }}">
						{{ menu_item.linkLabel|default(menu_item.title) }}
					</a>

					{% if menu_item.children %}
						<ul>

							{% for sub_menu_item in menu_item.children %}
								<li class="{% if sub_menu_item.isActive %} {% endif %}">
									<a target="{{ sub_menu_item.target }}" href="{{ sub_menu_item.value }}">
										{{ sub_menu_item.linkLabel|default(sub_menu_item.title) }}
									</a>
								</li>
							{% endfor %}

						</ul>
					{% endif %}

				</li>
			{% endfor %}

		</ul>
	{% endif %}

</div>
