/* advanced-views:tailwind */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px
  }
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.top-full {
  top: 100%
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem
}

.mt-3 {
  margin-top: 0.75rem
}

.flex {
  display: flex
}

.h-1 {
  height: 0.25rem
}

.h-2 {
  height: 0.5rem
}

.h-2\.5 {
  height: 0.625rem
}

.h-5 {
  height: 1.25rem
}

.h-screen {
  height: 100vh
}

.max-h-0 {
  max-height: 0px
}

.max-h-screen {
  max-height: 100vh
}

.w-2 {
  width: 0.5rem
}

.w-2\.5 {
  width: 0.625rem
}

.w-7 {
  width: 1.75rem
}

.w-screen {
  width: 100vw
}

.min-w-full {
  min-width: 100%
}

.-rotate-180 {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-2 {
  gap: 0.5rem
}

.gap-4 {
  gap: 1rem
}

.overflow-y-hidden {
  overflow-y: hidden
}

.whitespace-nowrap {
  white-space: nowrap
}

.border-r-2 {
  border-right-width: 2px
}

.border-color-page-bg {
  --tw-border-opacity: 1;
  border-color: rgb(32 32 32 / var(--tw-border-opacity))
}

.bg-color-element-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(37 39 40 / var(--tw-bg-opacity))
}

.bg-color-page-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(32 32 32 / var(--tw-bg-opacity))
}

.fill-color-action {
  fill: #b04242
}

.fill-color-heading-text {
  fill: #c6c6c6
}

.p-3 {
  padding: 0.75rem
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pb-1 {
  padding-bottom: 0.25rem
}

.font-secondary {
  font-family: Roboto
}

.font-semibold {
  font-weight: 600
}

.text-color-action {
  --tw-text-opacity: 1;
  color: rgb(176 66 66 / var(--tw-text-opacity))
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.after\:scale-x-100::after {
  content: var(--tw-content);
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:border-b-4::after {
  content: var(--tw-content);
  border-bottom-width: 4px
}

.last\:border-r-0:last-child {
  border-right-width: 0px
}

.group:hover .group-hover\:bg-color-page-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(32 32 32 / var(--tw-bg-opacity))
}

@media (min-width: 1024px) {
  .lg\:pointer-events-none {
    pointer-events: none
  }

  .lg\:absolute {
    position: absolute
  }

  .lg\:relative {
    position: relative
  }

  .lg\:left-auto {
    left: auto
  }

  .lg\:right-auto {
    right: auto
  }

  .lg\:top-auto {
    top: auto
  }

  .lg\:top-full {
    top: 100%
  }

  .lg\:-z-10 {
    z-index: -10
  }

  .lg\:mt-0 {
    margin-top: 0px
  }

  .lg\:hidden {
    display: none
  }

  .lg\:h-auto {
    height: auto
  }

  .lg\:max-h-full {
    max-height: 100%
  }

  .lg\:w-auto {
    width: auto
  }

  .lg\:rotate-0 {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .lg\:flex-row {
    flex-direction: row
  }

  .lg\:justify-between {
    justify-content: space-between
  }

  .lg\:self-center {
    align-self: center
  }

  .lg\:overflow-y-visible {
    overflow-y: visible
  }

  .lg\:rounded-lg {
    border-radius: 0.5rem
  }

  .lg\:p-5 {
    padding: 1.25rem
  }

  .lg\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }

  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px
  }

  .lg\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
  }

  .lg\:opacity-0 {
    opacity: 0
  }

  .lg\:shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
  }

  .group:hover .lg\:group-hover\:pointer-events-auto {
    pointer-events: auto
  }

  .group:hover .lg\:group-hover\:z-10 {
    z-index: 10
  }

  .group:hover .lg\:group-hover\:-rotate-180 {
    --tw-rotate: -180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .group:hover .lg\:group-hover\:opacity-100 {
    opacity: 1
  }
}