<div class="py-16">
    <div class="container flex flex-col gap-10">
        {% if _card.post_ids %}
            <div class="grid gap-16 lg:grid-cols-3">
                {% for post_id in _card.post_ids %}
                    [acf_views view-id="{{ _card.view_id }}" object-id="{{ post_id }}"]
                {% endfor %}
            </div>
        {% else %}
            <div>{{ _card.no_posts_found_message }}</div>
        {% endif %}

        {% if _card.pages_amount > 1 %}
            <div class="flex gap-1.5 text-lg">
                {{ paginate_links({ 'prev_text': '<', 'next_text': '>', 'total': _card.pages_amount,}) }}
            </div>
        {% endif %}
    </div>
</div>
