<div>

	{% if _card.post_ids %}
		<div>
			{% for post_id in _card.post_ids %}
				[acf_views view-id="{{ _card.view_id }}" object-id="{{ post_id }}"]
			{% endfor %}
		</div>
	{% else %}
		<div>{{ _card.no_posts_found_message }}</div>
	{% endif %}

	{% if _card.pages_amount > 1 %}
		<div>
			{{ paginate_links({ 'prev_text': '<', 'next_text': '>', 'total': _card.pages_amount,}) }}
		</div>
	{% endif %}

</div>
