/* advanced-views:tailwind */
@tailwind components;
@tailwind utilities;

.page-numbers {
  @apply relative font-secondary text-color-action;
  @apply after:block after:absolute after:left-0 after:right-0 after:bottom-0 after:transition-transform after:border-b after:border-color-action after:scale-x-0;
  @apply hover:after:scale-x-100;
}

.page-numbers.current {
  @apply pointer-events-none after:scale-x-100;
}
