/* advanced-views:tailwind */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px
  }
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.flex-col {
  flex-direction: column
}

.gap-1 {
  gap: 0.25rem
}

.gap-1\.5 {
  gap: 0.375rem
}

.gap-10 {
  gap: 2.5rem
}

.gap-16 {
  gap: 4rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.page-numbers {
  position: relative;
  font-family: Roboto;
  --tw-text-opacity: 1;
  color: rgb(176 66 66 / var(--tw-text-opacity))
}

.page-numbers::after {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(176 66 66 / var(--tw-border-opacity));
  content: var(--tw-content);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.page-numbers:hover::after {
  content: var(--tw-content);
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.page-numbers.current {
  pointer-events: none
}

.page-numbers.current::after {
  content: var(--tw-content);
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}
