<div>

	{% if post_featured_image.value %}
		<img src="{{ post_featured_image.value }}" width="{{ post_featured_image.width }}" height="{{ post_featured_image.height }}" alt="{{ post_featured_image.alt }}" decoding="{{ post_featured_image.decoding }}" loading="{{ post_featured_image.loading }}" srcset="{{ post_featured_image.srcset }}" sizes="{{ post_featured_image.sizes }}">
	{% endif %}


	{% if post_title_link.value %}
		<a target="{{ post_title_link.target }}" href="{{ post_title_link.value }}">
			{{ post_title_link.linkLabel|default(post_title_link.title) }}
		</a>
	{% endif %}


	{% if post_excerpt.value %}
		<div>
			{{ post_excerpt.value }}
		</div>
	{% endif %}

</div>
