/* advanced-views:tailwind */

.flex {
  display: flex
}

.w-full {
  width: 100%
}

.flex-col {
  flex-direction: column
}

.gap-4 {
  gap: 1rem
}

.self-start {
  align-self: flex-start
}

.rounded-lg {
  border-radius: 0.5rem
}

.bg-color-element-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(37 39 40 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}