<div class="secondary-page container my-16 bg-color-element-bg rounded-lg">

    <div class="py-7 px-5">
        {% if post_title.value %}
            <h1>
                {{ post_title.value }}
            </h1>
        {% endif %}


        {% if post_content.value %}
            <div>
                {{ post_content.value|raw }}
            </div>
        {% endif %}
    </div>

</div>

