/* advanced-views:tailwind */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px
  }
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.bg-color-element-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(37 39 40 / var(--tw-bg-opacity))
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem
}

.secondary-page h1 {
  margin-bottom: 2rem;
  font-family: Roboto;
  font-size: 1.875rem;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgb(198 198 198 / var(--tw-text-opacity))
}

.secondary-page h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: Roboto;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(198 198 198 / var(--tw-text-opacity))
}

.secondary-page p {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.secondary-page img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem
}
