/* advanced-views:tailwind */
@tailwind components;
@tailwind utilities;

.secondary-page h1 {
  @apply text-3xl font-secondary text-color-heading-text mb-8;
}

.secondary-page h2 {
  @apply text-xl font-secondary text-color-heading-text my-6;
}

.secondary-page p {
  @apply my-4;
}

.secondary-page img {
  @apply mx-auto rounded-lg;
}
