@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-color-page-bg font-primary text-base text-color-body-text tracking-[0.5px];
}

header {
  @apply sticky top-0 z-50;
}

@media screen and (max-width: 992px) {
  html {
    @apply !mt-0;
  }
  
  #wpadminbar {
    @apply hidden;
  }
}

@media screen and (min-width: 992px) {
  body.admin-bar header {
    @apply top-[32px];
  }
}

a {
  @apply inline-block;
}

.link {
  @apply relative font-secondary text-color-action;
  @apply after:block after:absolute after:left-0 after:right-0 after:bottom-0 after:transition-transform after:border-b after:border-color-action after:scale-x-0;
  @apply hover:after:scale-x-100;
}

.button {
  @apply font-secondary transition-colors;
  @apply border rounded-md border-color-action;
  @apply text-color-heading-text bg-color-action;
  @apply hover:text-color-action;
}

.button:hover {
  background: transparent;
}

.heading {
  @apply font-secondary font-bold text-color-heading-text;
}
