<div class="bg-color-element-bg py-5 text-color-body-text border-t-2 border-color-page-bg">
    <div class="container flex flex-col items-center gap-3 
lg:flex-row justify-center">
        <p>
            <span>&copy; ATC - Sport.</span>
            <span>All rights reserved, {{ "now"|date("Y") }}</span>
        </p>
        <p class="hidden lg:block">|</p>
        <a class="link text-color-action" href="/privacy-policy">Privacy Policy</a>
        <p class="hidden lg:block">|</p>
        <p>
            <span>Made by</span>
            <a class="link text-color-action"
               href="https://wplake.org" target="_blank">WPLake</a>
        </p>
    </div>
</div>