/* advanced-views:tailwind */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px
  }
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.gap-3 {
  gap: 0.75rem
}

.border-t-2 {
  border-top-width: 2px
}

.border-color-page-bg {
  --tw-border-opacity: 1;
  border-color: rgb(32 32 32 / var(--tw-border-opacity))
}

.bg-color-element-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(37 39 40 / var(--tw-bg-opacity))
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.text-color-action {
  --tw-text-opacity: 1;
  color: rgb(176 66 66 / var(--tw-text-opacity))
}

.text-color-body-text {
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .lg\:block {
    display: block
  }

  .lg\:flex-row {
    flex-direction: row
  }
}