/* advanced-views:tailwind */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px
  }
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.bottom-0 {
  bottom: 0px
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.right-1 {
  right: 0.25rem
}

.top-1 {
  top: 0.25rem
}

.z-10 {
  z-index: 10
}

.flex {
  display: flex
}

.h-4 {
  height: 1rem
}

.w-4 {
  width: 1rem
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.gap-10 {
  gap: 2.5rem
}

.gap-2 {
  gap: 0.5rem
}

.border-t {
  border-top-width: 1px
}

.border-t-color-body-text {
  --tw-border-opacity: 1;
  border-top-color: rgb(136 136 136 / var(--tw-border-opacity))
}

.bg-color-page-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(32 32 32 / var(--tw-bg-opacity))
}

.fill-color-action {
  fill: #b04242
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.text-color-action {
  --tw-text-opacity: 1;
  color: rgb(176 66 66 / var(--tw-text-opacity))
}

.text-color-body-text {
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity))
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300 {
  transition-duration: 300ms
}

.hover\:cursor-pointer:hover {
  cursor: pointer
}

.hover\:fill-color-heading-text:hover {
  fill: #c6c6c6
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row
  }
}